.cabeçalho{background-color: grey;
padding: 20px;}

nav {position: absolute;
       top: 110px;
       right: o;}

nav li{display: inline;
         margin:0 0 0 15px;}

nav a {text-transform: uppercase;t
                 color: black;
                 font-weight: bold;
                 font-size: 22px;
                 text-decoration: none ;}

.caixa{position: relative;
        width: 940px;
         margin: 0 auto;}

.produtos{width: 940px;
          margin: 0 auto;}

.produtos li{
     
             display:inline-block;
            text-align: center;
             width:30px;
             vertical-align:top;}

.produtos h2{
        font-size: 30px;

        font-weight:bold;}
